{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}零炽 - 妹子图{% endblock %}

{% block page_content %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="{{ url_for('estate.sz') }}" class="list-group-item">深圳房产</a>
  <a href="{{ url_for('taotu.meizi') }}" class="list-group-item">妹子图</a>
  <a href="#" class="list-group-item">请期待</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    
</script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/sz_estate.js') }}"></script>
{% endblock %}
